@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);


}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: iranSans-r;
}


@font-face {
  font-family: iranBold;
  src: url('./../../public/font/IRANSansXFaNum-Bold.ttf');
  font-weight: 900;
}@font-face {
  font-family: iranSans-r; 
  src: url("./../../public/font/IRANSansXFaNum-Regular.ttf"); 
}